USE [Medly_Warehouse]
GO
/****** Object:  Table [dbo].[AddCustomer]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AddCustomer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[Initialadditiondate] [date] NULL,
	[CustomerName] [varchar](50) NULL,
	[ContactName] [varchar](50) NULL,
	[ContactEmail] [varchar](50) NULL,
	[ContactNumber] [nvarchar](50) NULL,
	[Validtill] [date] NULL,
	[Defaultcurrency] [varchar](50) NULL,
	[CustomerStatus] [varchar](50) NULL,
	[CustomerQualification] [varchar](50) NULL,
	[AddressLine1] [varchar](50) NULL,
	[AddressLine2] [varchar](50) NULL,
	[AddressLine3] [varchar](50) NULL,
	[Town] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[Postcode] [int] NULL,
	[SelectApprover] [varchar](50) NULL,
 CONSTRAINT [PK_AddCustomer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CreatePO]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CreatePO](
	[PONumber] [int] NOT NULL,
	[Product] [varchar](50) NULL,
	[LicenseNo] [varchar](50) NULL,
	[ProductName] [varchar](50) NULL,
	[Dosageform] [varchar](50) NULL,
	[Strength] [varchar](50) NULL,
	[PackType] [varchar](50) NULL,
	[PackSize] [varchar](50) NULL,
	[Supplier] [varchar](50) NULL,
	[POQty] [varchar](50) NULL,
	[PriceperPack] [varchar](50) NULL,
	[TotalProductAmt] [int] NULL,
	[SelectApprover] [varchar](50) NULL,
 CONSTRAINT [PK_CreatePO] PRIMARY KEY CLUSTERED 
(
	[PONumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Designation]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Designation](
	[DesignationID] [int] IDENTITY(1,1) NOT NULL,
	[Designation] [varchar](50) NULL,
	[IsDel] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Goodsreceipt]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Goodsreceipt](
	[GRNnumber] [int] NOT NULL,
	[BatchNumber] [int] NULL,
	[Receivedquantity] [int] NULL,
	[Manufacturingdate] [date] NULL,
	[Expirydate] [date] NULL,
	[Noofpallets] [int] NULL,
	[Batchstatus] [varchar](50) NULL,
	[Selectwarehouse] [varchar](50) NULL,
	[Unitquantity] [int] NULL,
	[Palatereferencenumber] [int] NULL,
	[Selectapprover] [varchar](50) NULL,
 CONSTRAINT [PK_Goodsreceipt] PRIMARY KEY CLUSTERED 
(
	[GRNnumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Suplier]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Suplier](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[Initialadditionaldate] [date] NULL,
	[CompanyName] [varchar](max) NULL,
	[ContactName] [varchar](max) NULL,
	[ContactEmail] [varchar](50) NULL,
	[ContactNumber] [nvarchar](50) NULL,
	[ValidTill] [date] NULL,
	[DefaultCurrency] [nvarchar](50) NULL,
	[SupplierStatus] [varchar](50) NULL,
	[SupplierQualification] [varchar](50) NULL,
	[AddressLine1] [varchar](max) NULL,
	[AddressLine2] [varchar](max) NULL,
	[AddressLine3] [varchar](max) NULL,
	[Town] [varchar](50) NULL,
	[Country] [varchar](50) NULL,
	[PostCode] [nvarchar](50) NULL,
	[Status] [varchar](50) NULL,
	[SelectApproverid] [int] NULL,
	[AddressLine4] [varchar](50) NULL,
	[AddressLine5] [varchar](50) NULL,
	[ContactName1] [nvarchar](max) NULL,
	[ContactName2] [nvarchar](max) NULL,
	[ContactName3] [nvarchar](max) NULL,
	[ContactName4] [nvarchar](max) NULL,
	[IsDel] [int] NULL,
 CONSTRAINT [PK_AddSuplier] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblCountry]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCountry](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NULL,
	[CountryCode] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblCountry] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblEmployee]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblEmployee](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [varchar](50) NULL,
	[DateofBirth] [date] NULL,
	[DateofJoining] [date] NULL,
	[Gender] [varchar](50) NULL,
	[Designation] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Address] [varchar](max) NULL,
	[Approvarid] [int] NULL,
	[Status] [varchar](50) NULL,
	[IsDel] [int] NULL,
 CONSTRAINT [PK_tblEmployee] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblGoodReceipts]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblGoodReceipts](
	[GRId] [int] IDENTITY(1,1) NOT NULL,
	[Poid] [int] NULL,
	[ProductId] [int] NULL,
	[License] [nvarchar](50) NULL,
	[Dosage] [nvarchar](50) NULL,
	[Strength] [nvarchar](50) NULL,
	[Packtype] [nvarchar](50) NULL,
	[Packsize] [int] NULL,
	[OrderQty] [int] NULL,
	[OrderAmt] [money] NULL,
	[Batchnumber] [nvarchar](50) NULL,
	[ReceivedQty] [int] NULL,
	[Manfactdate] [datetime] NULL,
	[ExpiryDate] [datetime] NULL,
	[PalletsQty] [int] NULL,
	[BatchStatus] [nvarchar](50) NULL,
	[ApproverId] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[GoodsReceiveddate] [datetime] NULL,
	[Returnid] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblGoodsPicking]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGoodsPicking](
	[PickupDate] [datetime] NULL,
	[SoId] [int] NULL,
	[SuppId] [int] NULL,
	[TotalQty] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblLogin]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLogin](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[IsDel] [int] NULL,
 CONSTRAINT [PK_tblLogin] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TblPO]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblPO](
	[Poid] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [varchar](50) NULL,
	[Podatetime] [datetime] NULL,
	[ApproverId] [varchar](50) NULL,
	[Amount] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[IsGoodReceived] [int] NULL,
	[POPrintno] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblProduct]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblProduct](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Initialadditiondate] [date] NULL,
	[Productname] [varchar](max) NULL,
	[Licenseno] [varchar](max) NULL,
	[Dosageform] [varchar](max) NULL,
	[Packtype] [varchar](max) NULL,
	[Packsize] [varchar](max) NULL,
	[Priceperpack] [varchar](50) NULL,
	[Strength] [varchar](max) NULL,
	[Currency] [varchar](50) NULL,
	[Productmanufacture] [varchar](50) NULL,
	[Productmanufacturecountry] [varchar](max) NULL,
	[Productcode] [varchar](50) NULL,
	[ProductGTINbarcode] [varchar](50) NULL,
	[Productaprovalauthority] [varchar](max) NULL,
	[Productaprovalstatus] [varchar](max) NULL,
	[Tax] [varchar](50) NULL,
	[Taxationtype] [varchar](50) NULL,
	[Productphoto] [image] NULL,
	[Selectaproval] [varchar](50) NULL,
	[Approvarid] [int] NULL,
	[Status] [varchar](50) NULL,
	[Validtill] [date] NULL,
	[Productcatogory] [varchar](50) NULL,
	[ProductQty] [int] NULL,
	[PIPcode] [nvarchar](50) NULL,
	[IsDel] [int] NULL,
	[Productstatus] [varchar](50) NULL,
 CONSTRAINT [PK_Addproduct] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblReturn]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblReturn](
	[Returnid] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [varchar](50) NULL,
	[Returndatetime] [datetime] NULL,
	[ApproverId] [varchar](50) NULL,
	[ReturnAmount] [varchar](50) NULL,
	[Status] [nchar](10) NULL,
	[ReturnPrintno] [nchar](10) NULL,
	[Soid] [int] NULL,
	[IsGoodReceived] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblSampling]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblSampling](
	[SamplingId] [int] IDENTITY(1,1) NOT NULL,
	[BatchNo] [varchar](50) NULL,
	[SampleNo] [varchar](50) NULL,
	[Selectapproverid] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_tblSampling] PRIMARY KEY CLUSTERED 
(
	[SamplingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblSamproduct]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblSamproduct](
	[SamplingId] [int] IDENTITY(1,1) NOT NULL,
	[GRId] [int] NULL,
	[BatchNo] [varchar](50) NULL,
	[ProductID] [int] NULL,
	[ProductName] [varchar](50) NULL,
	[Strength] [varchar](50) NULL,
	[Packtype] [varchar](50) NULL,
	[Packsize] [varchar](50) NULL,
	[BatchQty] [varchar](50) NULL,
	[Units] [varchar](50) NULL,
	[PalletsRefNo] [varchar](50) NULL,
	[SampleQty] [varchar](50) NULL,
	[FinalBatchQty] [varchar](50) NULL,
	[BatchStatus] [varchar](50) NULL,
	[Remark] [varchar](50) NULL,
 CONSTRAINT [PK_tblSamproduct] PRIMARY KEY CLUSTERED 
(
	[SamplingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TblSO]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TblSO](
	[Soid] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [varchar](50) NULL,
	[SOdatetime] [datetime] NULL,
	[ApproverId] [varchar](50) NULL,
	[Amount] [varchar](50) NULL,
	[Status] [varchar](10) NULL,
	[SOPrintno] [nchar](10) NULL,
	[IsReturn] [nchar](10) NULL,
	[DelAddress] [nvarchar](50) NULL,
	[Refno] [nvarchar](50) NULL,
	[Deliverydate] [date] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTraceablity]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTraceablity](
	[TraceId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[GRId] [int] NULL,
	[ApproverId] [int] NULL,
	[Soid] [int] NULL,
	[CutomerId] [int] NULL,
	[GPNId] [int] NULL,
	[Batchnumber] [varchar](50) NULL,
	[Poid] [int] NULL,
	[Returnid] [int] NULL,
 CONSTRAINT [PK_tblTraceablity] PRIMARY KEY CLUSTERED 
(
	[TraceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTrancetraceablity]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTrancetraceablity](
	[TransetraceId] [int] IDENTITY(1,1) NOT NULL,
	[Poid] [int] NULL,
	[Unitname] [varchar](50) NULL,
	[Qty] [int] NULL,
	[Status] [varchar](50) NULL,
	[GRId] [int] NULL,
	[TraceId] [int] NULL,
	[Palletsrefno] [nvarchar](50) NULL,
	[Returnid] [int] NULL,
	[Isreturn] [int] NULL,
 CONSTRAINT [PK_tblTrancetraceablity] PRIMARY KEY CLUSTERED 
(
	[TransetraceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTransGoodPicking]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTransGoodPicking](
	[GoodPickid] [int] NULL,
	[ProdId] [int] NULL,
	[PackSize] [int] NULL,
	[Qty] [int] NULL,
	[PricePerPack] [money] NULL,
	[VATPerc] [decimal](18, 0) NULL,
	[AmtTotal] [money] NULL,
	[Batchnumber] [nvarchar](50) NULL,
	[Unitname] [nvarchar](50) NULL,
	[TransGoodPicking] [int] IDENTITY(1,1) NOT NULL,
	[Palletsrefno] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTransGoodReceipts]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTransGoodReceipts](
	[TransGRId] [int] IDENTITY(1,1) NOT NULL,
	[GRId] [int] NULL,
	[Unitname] [nvarchar](50) NULL,
	[Qty] [int] NULL,
	[SampleQty] [int] NULL,
	[FinalbatchQty] [int] NULL,
	[Palletsrefno] [nvarchar](50) NULL,
	[BatchStatus] [nvarchar](50) NULL,
	[Returnid] [int] NULL,
	[Isreturn] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTransPo]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTransPo](
	[TransPo] [int] IDENTITY(1,1) NOT NULL,
	[Poid] [int] NULL,
	[Productid] [varchar](50) NULL,
	[LicenseNo] [varchar](50) NULL,
	[Productname] [varchar](50) NULL,
	[Dosageform] [varchar](50) NULL,
	[Strength] [varchar](50) NULL,
	[Packtype] [varchar](50) NULL,
	[Packsize] [varchar](50) NULL,
	[PoQty] [varchar](50) NULL,
	[Priceperpack] [varchar](50) NULL,
	[Productamt] [varchar](50) NULL,
	[IsGoodReceived] [int] NULL,
	[VAT] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTranspotMaster]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTranspotMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[transpot] [varchar](50) NULL,
	[DOJ] [date] NULL,
	[ExpiryDate] [date] NULL,
	[ContactNum] [nchar](10) NULL,
	[Address] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblTranspotMaster] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTransReturn]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTransReturn](
	[TransReturnid] [int] IDENTITY(1,1) NOT NULL,
	[Returnid] [int] NULL,
	[Soid] [int] NULL,
	[Productid] [varchar](50) NULL,
	[LicenseNo] [varchar](50) NULL,
	[Productname] [varchar](50) NULL,
	[Dosageform] [varchar](50) NULL,
	[Strength] [varchar](50) NULL,
	[Packtype] [varchar](50) NULL,
	[Packsize] [varchar](50) NULL,
	[Customernameaddress] [varchar](max) NULL,
	[SoQty] [int] NULL,
	[Priceperpack] [varchar](50) NULL,
	[VAT] [varchar](50) NULL,
	[Totalamount] [varchar](50) NULL,
	[ReturnQty] [int] NULL,
	[ReturnAmount] [nchar](10) NULL,
	[IsGoodReceived] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTransSo]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblTransSo](
	[TransSo] [int] IDENTITY(1,1) NOT NULL,
	[Soid] [int] NULL,
	[Productid] [varchar](50) NULL,
	[LicenseNo] [varchar](50) NULL,
	[Productname] [varchar](50) NULL,
	[Dosageform] [varchar](50) NULL,
	[Strength] [varchar](50) NULL,
	[Packtype] [varchar](50) NULL,
	[Packsize] [varchar](50) NULL,
	[Customernameaddress] [varchar](max) NULL,
	[SoQty] [int] NULL,
	[Priceperpack] [varchar](50) NULL,
	[VAT] [varchar](50) NULL,
	[Totalamount] [varchar](50) NULL,
	[IsReturn] [nchar](10) NULL,
	[ReturnQty] [nchar](10) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tblTransSupplier]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTransSupplier](
	[TransSupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierID] [int] NULL,
	[PersonName] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[Postcode] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[CountryCode] [nvarchar](50) NULL,
	[EmailId] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblUnit]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUnit](
	[UnitId] [bigint] IDENTITY(1,1) NOT NULL,
	[Unitname] [nvarchar](50) NULL,
	[Floor] [int] NULL,
	[Isempty] [int] NULL,
	[TransGRId] [int] NULL,
	[ProductId] [int] NULL,
	[Batchnumber] [nvarchar](50) NULL,
	[Expirydate] [date] NULL,
	[TotalQty] [int] NULL,
	[Status] [nvarchar](50) NULL,
	[Palletsrefno] [nvarchar](50) NULL,
	[Returnid] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblWarehouse]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblWarehouse](
	[WarehouseID] [int] IDENTITY(1,1) NOT NULL,
	[WarehouseName] [varchar](50) NULL,
	[WarehouseCode] [varchar](50) NULL,
	[FloorNo] [int] NULL,
	[UnitName] [varchar](50) NULL,
	[NumberofUnity] [varchar](50) NULL,
	[Selectapproval] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TempPo]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TempPo](
	[Poid] [int] IDENTITY(1,1) NOT NULL,
	[Productid] [int] NOT NULL,
	[Licenseno] [varchar](50) NULL,
	[Productname] [varchar](50) NULL,
	[Dosageform] [varchar](50) NULL,
	[Strength] [varchar](50) NULL,
	[Packtype] [varchar](50) NULL,
	[Packsize] [varchar](50) NULL,
	[PoQty] [varchar](50) NULL,
	[Priceperpack] [varchar](50) NULL,
	[Productamt] [varchar](50) NULL,
	[VAT] [nvarchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TempSo]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TempSo](
	[Soid] [int] IDENTITY(1,1) NOT NULL,
	[Productid] [int] NULL,
	[Licenseno] [varchar](50) NULL,
	[Productname] [varchar](50) NULL,
	[Dosageform] [varchar](50) NULL,
	[Strength] [varchar](50) NULL,
	[Packtype] [varchar](50) NULL,
	[Packsize] [varchar](50) NULL,
	[Customernameaddress] [varchar](50) NULL,
	[SoQty] [varchar](50) NULL,
	[Priceperpack] [varchar](50) NULL,
	[VAT] [varchar](50) NULL,
	[Totalamount] [varchar](50) NULL,
 CONSTRAINT [PK_TempSo] PRIMARY KEY CLUSTERED 
(
	[Soid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 01/09/2023 16:58:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Warehouse](
	[Warehousename] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[Warehousecode] [varchar](50) NULL,
	[Numberofaisle] [varchar](50) NULL,
	[Numberoffloors/aisle] [varchar](50) NULL,
	[Numberofunit/floors] [nchar](10) NULL,
	[Selectapproval] [nchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[AddCustomer] ON 

INSERT [dbo].[AddCustomer] ([CustomerID], [Initialadditiondate], [CustomerName], [ContactName], [ContactEmail], [ContactNumber], [Validtill], [Defaultcurrency], [CustomerStatus], [CustomerQualification], [AddressLine1], [AddressLine2], [AddressLine3], [Town], [Country], [Postcode], [SelectApprover]) VALUES (1, CAST(0x49450B00 AS Date), N'test', N'test1', N'test@gmail.com', N'9874561230', CAST(0x4A450B00 AS Date), N'1', N'1', N'1', N'mdu', N'dgl', N'vadipatti', N'theni', N'1', 654123, N'1')
SET IDENTITY_INSERT [dbo].[AddCustomer] OFF
SET IDENTITY_INSERT [dbo].[Designation] ON 

INSERT [dbo].[Designation] ([DesignationID], [Designation], [IsDel]) VALUES (1, N'General Manager', 0)
INSERT [dbo].[Designation] ([DesignationID], [Designation], [IsDel]) VALUES (2, N'Sr. QA officer', 0)
INSERT [dbo].[Designation] ([DesignationID], [Designation], [IsDel]) VALUES (3, N'QA officer', 0)
SET IDENTITY_INSERT [dbo].[Designation] OFF
SET IDENTITY_INSERT [dbo].[Suplier] ON 

SET IDENTITY_INSERT [dbo].[Suplier] OFF
SET IDENTITY_INSERT [dbo].[tblCountry] ON 

INSERT [dbo].[tblCountry] ([CountryID], [CountryName], [CountryCode]) VALUES (1, N'USA', N'+1')
INSERT [dbo].[tblCountry] ([CountryID], [CountryName], [CountryCode]) VALUES (2, N'Russia', N'+7')
INSERT [dbo].[tblCountry] ([CountryID], [CountryName], [CountryCode]) VALUES (3, N'UAE', N'+917')
SET IDENTITY_INSERT [dbo].[tblCountry] OFF
SET IDENTITY_INSERT [dbo].[tblEmployee] ON 

INSERT [dbo].[tblEmployee] ([EmployeeID], [EmployeeName], [DateofBirth], [DateofJoining], [Gender], [Designation], [Email], [PhoneNumber], [Address], [Approvarid], [Status], [IsDel]) VALUES (1, N'Admin', CAST(0x02270B00 AS Date), CAST(0xB5450B00 AS Date), N'Male', N'1', N'admin@gmail.com', N'9998874562', N'Chennai', NULL, NULL, 0)
INSERT [dbo].[tblEmployee] ([EmployeeID], [EmployeeName], [DateofBirth], [DateofJoining], [Gender], [Designation], [Email], [PhoneNumber], [Address], [Approvarid], [Status], [IsDel]) VALUES (2, N'Quality', CAST(0xA32B0B00 AS Date), CAST(0x50450B00 AS Date), N'Male', N'3', N'quality@gmail.com', N'8889974563', N'Madurai', NULL, NULL, 0)
INSERT [dbo].[tblEmployee] ([EmployeeID], [EmployeeName], [DateofBirth], [DateofJoining], [Gender], [Designation], [Email], [PhoneNumber], [Address], [Approvarid], [Status], [IsDel]) VALUES (3, N'Warehouse', CAST(0x95430B00 AS Date), CAST(0x65450B00 AS Date), N'Male', N'6', N'warehouse@gmail.com', N'7485964152', N'CBM', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[tblEmployee] OFF
SET IDENTITY_INSERT [dbo].[tblGoodReceipts] ON 

INSERT [dbo].[tblGoodReceipts] ([GRId], [Poid], [ProductId], [License], [Dosage], [Strength], [Packtype], [Packsize], [OrderQty], [OrderAmt], [Batchnumber], [ReceivedQty], [Manfactdate], [ExpiryDate], [PalletsQty], [BatchStatus], [ApproverId], [Status], [GoodsReceiveddate], [Returnid]) VALUES (1, 1, 9, NULL, N'Tablet', N'150mg', NULL, NULL, 60, 1200.0000, N'RAN1001', 60, NULL, CAST(0x0000B04700000000 AS DateTime), 2, N'Quarantine', N'1', N'Draft', CAST(0x0000B03800000000 AS DateTime), NULL)
INSERT [dbo].[tblGoodReceipts] ([GRId], [Poid], [ProductId], [License], [Dosage], [Strength], [Packtype], [Packsize], [OrderQty], [OrderAmt], [Batchnumber], [ReceivedQty], [Manfactdate], [ExpiryDate], [PalletsQty], [BatchStatus], [ApproverId], [Status], [GoodsReceiveddate], [Returnid]) VALUES (2, 2, 6, NULL, N'Caplet', N'500mg', NULL, NULL, 20, 200.0000, N'Para100', 20, NULL, CAST(0x0000B06F00000000 AS DateTime), 2, N'Release', N'1', N'Draft', CAST(0x0000B03800000000 AS DateTime), NULL)
INSERT [dbo].[tblGoodReceipts] ([GRId], [Poid], [ProductId], [License], [Dosage], [Strength], [Packtype], [Packsize], [OrderQty], [OrderAmt], [Batchnumber], [ReceivedQty], [Manfactdate], [ExpiryDate], [PalletsQty], [BatchStatus], [ApproverId], [Status], [GoodsReceiveddate], [Returnid]) VALUES (3, 2, 7, NULL, N'Tablet', N'500mg', NULL, NULL, 30, 300.0000, N'Para101', 30, NULL, CAST(0x0000B06F00000000 AS DateTime), 2, N'Release', N'1', N'Approved', CAST(0x0000B03800000000 AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[tblGoodReceipts] OFF
SET IDENTITY_INSERT [dbo].[tblGoodsPicking] ON 

INSERT [dbo].[tblGoodsPicking] ([PickupDate], [SoId], [SuppId], [TotalQty], [id]) VALUES (CAST(0x0000B03800000000 AS DateTime), 1, 1, 10, 1)
INSERT [dbo].[tblGoodsPicking] ([PickupDate], [SoId], [SuppId], [TotalQty], [id]) VALUES (CAST(0x0000B03800000000 AS DateTime), 2, 1, 5, 2)
INSERT [dbo].[tblGoodsPicking] ([PickupDate], [SoId], [SuppId], [TotalQty], [id]) VALUES (CAST(0x0000B03800000000 AS DateTime), 3, 1, 20, 3)
GO
SET IDENTITY_INSERT [dbo].[tblGoodsPicking] OFF
SET IDENTITY_INSERT [dbo].[tblLogin] ON 

INSERT [dbo].[tblLogin] ([EmployeeID], [Username], [Password], [IsDel]) VALUES (1, N'admin', N'admin', 0)
INSERT [dbo].[tblLogin] ([EmployeeID], [Username], [Password], [IsDel]) VALUES (2, N'quality', N'quality', 0)
INSERT [dbo].[tblLogin] ([EmployeeID], [Username], [Password], [IsDel]) VALUES (3, N'warehouse', N'warehouse', 0)
SET IDENTITY_INSERT [dbo].[tblLogin] OFF
SET IDENTITY_INSERT [dbo].[TblPO] ON 

INSERT [dbo].[TblPO] ([Poid], [SupplierId], [Podatetime], [ApproverId], [Amount], [Status], [IsGoodReceived], [POPrintno]) VALUES (1, N'1', CAST(0x0000B03800000000 AS DateTime), N'6', N'1200', N'Approved', 0, N'5001')
INSERT [dbo].[TblPO] ([Poid], [SupplierId], [Podatetime], [ApproverId], [Amount], [Status], [IsGoodReceived], [POPrintno]) VALUES (2, N'1', CAST(0x0000B03800000000 AS DateTime), N'1', N'500', N'Approved', 0, N'5002')
INSERT [dbo].[TblPO] ([Poid], [SupplierId], [Podatetime], [ApproverId], [Amount], [Status], [IsGoodReceived], [POPrintno]) VALUES (3, N'1', CAST(0x0000B03800000000 AS DateTime), N'1', N'100', N'Approved', 0, N'5003')
GO
SET IDENTITY_INSERT [dbo].[TblPO] OFF
SET IDENTITY_INSERT [dbo].[tblProduct] ON 

SET IDENTITY_INSERT [dbo].[tblProduct] OFF
SET IDENTITY_INSERT [dbo].[TblReturn] ON 

INSERT [dbo].[TblReturn] ([Returnid], [SupplierId], [Returndatetime], [ApproverId], [ReturnAmount], [Status], [ReturnPrintno], [Soid], [IsGoodReceived]) VALUES (1, N'2', CAST(0x0000B05B00000000 AS DateTime), N'2', N'500', N'Draft     ', N'5000      ', NULL, NULL)
INSERT [dbo].[TblReturn] ([Returnid], [SupplierId], [Returndatetime], [ApproverId], [ReturnAmount], [Status], [ReturnPrintno], [Soid], [IsGoodReceived]) VALUES (2, N'6', CAST(0x0000B05B00000000 AS DateTime), N'1', N'31500', N'Draft     ', N'5001      ', NULL, NULL)
INSERT [dbo].[TblReturn] ([Returnid], [SupplierId], [Returndatetime], [ApproverId], [ReturnAmount], [Status], [ReturnPrintno], [Soid], [IsGoodReceived]) VALUES (3, N'7', CAST(0x0000B05B00000000 AS DateTime), N'1', N'30480', N'Approved  ', N'5002      ', NULL, NULL)
SET IDENTITY_INSERT [dbo].[TblReturn] OFF
SET IDENTITY_INSERT [dbo].[tblSampling] ON 

INSERT [dbo].[tblSampling] ([SamplingId], [BatchNo], [SampleNo], [Selectapproverid], [Status], [CreatedDate]) VALUES (1, N'Para100', N'SamPara100', N'1', N'Draft', CAST(0x0000B03800000000 AS DateTime))
INSERT [dbo].[tblSampling] ([SamplingId], [BatchNo], [SampleNo], [Selectapproverid], [Status], [CreatedDate]) VALUES (2, N'BATCHATENOL', N'SAMPLEATE', N'1', N'Draft', CAST(0x0000B03800000000 AS DateTime))
INSERT [dbo].[tblSampling] ([SamplingId], [BatchNo], [SampleNo], [Selectapproverid], [Status], [CreatedDate]) VALUES (3, N'BATCHDOS', N'SAMDOS', N'1', N'Draft', CAST(0x0000B03800000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[tblSampling] OFF
SET IDENTITY_INSERT [dbo].[tblSamproduct] ON 

INSERT [dbo].[tblSamproduct] ([SamplingId], [GRId], [BatchNo], [ProductID], [ProductName], [Strength], [Packtype], [Packsize], [BatchQty], [Units], [PalletsRefNo], [SampleQty], [FinalBatchQty], [BatchStatus], [Remark]) VALUES (1, 2, N'6', 6, N'PARACETAMOL 500mg  CAPS 100s', N'500mg', NULL, NULL, N'20', N'A007', N'2', N'2', N'8', N'Quarantine', NULL)
INSERT [dbo].[tblSamproduct] ([SamplingId], [GRId], [BatchNo], [ProductID], [ProductName], [Strength], [Packtype], [Packsize], [BatchQty], [Units], [PalletsRefNo], [SampleQty], [FinalBatchQty], [BatchStatus], [Remark]) VALUES (2, 2, N'6', 6, N'PARACETAMOL 500mg  CAPS 100s', N'500mg', NULL, NULL, N'20', N'A008', N'2', N'2', N'8', N'Quarantine', NULL)
INSERT [dbo].[tblSamproduct] ([SamplingId], [GRId], [BatchNo], [ProductID], [ProductName], [Strength], [Packtype], [Packsize], [BatchQty], [Units], [PalletsRefNo], [SampleQty], [FinalBatchQty], [BatchStatus], [Remark]) VALUES (3, 4, N'51', 51, N'Atenolol 25mg Tablets 28s', N'25mg', NULL, NULL, N'50', N'A011', N'2', N'2', N'23', N'Quarantine', NULL)
GO
SET IDENTITY_INSERT [dbo].[tblSamproduct] OFF
SET IDENTITY_INSERT [dbo].[TblSO] ON 

INSERT [dbo].[TblSO] ([Soid], [SupplierId], [SOdatetime], [ApproverId], [Amount], [Status], [SOPrintno], [IsReturn], [DelAddress], [Refno], [Deliverydate]) VALUES (1, N'1', CAST(0x0000B03800000000 AS DateTime), N'1', N'105', N'Approved  ', N'15001     ', NULL, NULL, NULL, NULL)
INSERT [dbo].[TblSO] ([Soid], [SupplierId], [SOdatetime], [ApproverId], [Amount], [Status], [SOPrintno], [IsReturn], [DelAddress], [Refno], [Deliverydate]) VALUES (2, N'1', CAST(0x0000B03800000000 AS DateTime), N'1', N'52', N'Approved  ', N'15002     ', NULL, NULL, NULL, NULL)
INSERT [dbo].[TblSO] ([Soid], [SupplierId], [SOdatetime], [ApproverId], [Amount], [Status], [SOPrintno], [IsReturn], [DelAddress], [Refno], [Deliverydate]) VALUES (3, N'1', CAST(0x0000B03800000000 AS DateTime), N'1', N'210', N'Approved  ', N'15003     ', NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[TblSO] OFF
SET IDENTITY_INSERT [dbo].[tblTraceablity] ON 

INSERT [dbo].[tblTraceablity] ([TraceId], [ProductId], [GRId], [ApproverId], [Soid], [CutomerId], [GPNId], [Batchnumber], [Poid], [Returnid]) VALUES (1, 9, 1, 1, NULL, NULL, NULL, N'RAN1001', 1, NULL)
INSERT [dbo].[tblTraceablity] ([TraceId], [ProductId], [GRId], [ApproverId], [Soid], [CutomerId], [GPNId], [Batchnumber], [Poid], [Returnid]) VALUES (2, 6, 2, 1, 2, 0, 5, N'Para100', 2, NULL)
INSERT [dbo].[tblTraceablity] ([TraceId], [ProductId], [GRId], [ApproverId], [Soid], [CutomerId], [GPNId], [Batchnumber], [Poid], [Returnid]) VALUES (3, 7, 3, 1, 3, 0, 4, N'Para101', 2, NULL)
GO
SET IDENTITY_INSERT [dbo].[tblTraceablity] OFF
SET IDENTITY_INSERT [dbo].[tblTrancetraceablity] ON 

INSERT [dbo].[tblTrancetraceablity] ([TransetraceId], [Poid], [Unitname], [Qty], [Status], [GRId], [TraceId], [Palletsrefno], [Returnid], [Isreturn]) VALUES (1, 1, N'A001', 30, N'Draft', 1, 1, N'0', NULL, NULL)
INSERT [dbo].[tblTrancetraceablity] ([TransetraceId], [Poid], [Unitname], [Qty], [Status], [GRId], [TraceId], [Palletsrefno], [Returnid], [Isreturn]) VALUES (2, 1, N'A002', 30, N'Draft', 1, 1, N'0', NULL, NULL)
INSERT [dbo].[tblTrancetraceablity] ([TransetraceId], [Poid], [Unitname], [Qty], [Status], [GRId], [TraceId], [Palletsrefno], [Returnid], [Isreturn]) VALUES (3, 1, N'A003', 20, N'Draft', 1, 1, N'0', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tblTrancetraceablity] OFF
SET IDENTITY_INSERT [dbo].[tblTransGoodPicking] ON 

INSERT [dbo].[tblTransGoodPicking] ([GoodPickid], [ProdId], [PackSize], [Qty], [PricePerPack], [VATPerc], [AmtTotal], [Batchnumber], [Unitname], [TransGoodPicking], [Palletsrefno]) VALUES (1, 6, 0, 8, 0.0000, CAST(0 AS Decimal(18, 0)), 0.0000, N'', N'A007', 1, N'0')
INSERT [dbo].[tblTransGoodPicking] ([GoodPickid], [ProdId], [PackSize], [Qty], [PricePerPack], [VATPerc], [AmtTotal], [Batchnumber], [Unitname], [TransGoodPicking], [Palletsrefno]) VALUES (2, 6, 0, 5, 0.0000, CAST(0 AS Decimal(18, 0)), 0.0000, N'', N'A008', 2, N'0')
INSERT [dbo].[tblTransGoodPicking] ([GoodPickid], [ProdId], [PackSize], [Qty], [PricePerPack], [VATPerc], [AmtTotal], [Batchnumber], [Unitname], [TransGoodPicking], [Palletsrefno]) VALUES (3, 7, 0, 15, 0.0000, CAST(0 AS Decimal(18, 0)), 0.0000, N'', N'A009', 3, N'0')
GO
SET IDENTITY_INSERT [dbo].[tblTransGoodPicking] OFF
SET IDENTITY_INSERT [dbo].[tblTransGoodReceipts] ON 

INSERT [dbo].[tblTransGoodReceipts] ([TransGRId], [GRId], [Unitname], [Qty], [SampleQty], [FinalbatchQty], [Palletsrefno], [BatchStatus], [Returnid], [Isreturn]) VALUES (1, 1, N'A001', 30, NULL, 30, N'0', N'Quarantine', NULL, NULL)
INSERT [dbo].[tblTransGoodReceipts] ([TransGRId], [GRId], [Unitname], [Qty], [SampleQty], [FinalbatchQty], [Palletsrefno], [BatchStatus], [Returnid], [Isreturn]) VALUES (2, 1, N'A002', 30, NULL, 30, N'0', N'Quarantine', NULL, NULL)
INSERT [dbo].[tblTransGoodReceipts] ([TransGRId], [GRId], [Unitname], [Qty], [SampleQty], [FinalbatchQty], [Palletsrefno], [BatchStatus], [Returnid], [Isreturn]) VALUES (3, 1, N'A003', 20, NULL, 20, N'0', N'Quarantine', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tblTransGoodReceipts] OFF
SET IDENTITY_INSERT [dbo].[tblTransPo] ON 

INSERT [dbo].[tblTransPo] ([TransPo], [Poid], [Productid], [LicenseNo], [Productname], [Dosageform], [Strength], [Packtype], [Packsize], [PoQty], [Priceperpack], [Productamt], [IsGoodReceived], [VAT]) VALUES (1096, 1, N'31', NULL, N'SODIUM BICARB 500MG TABS 100S', N'Tablet', N'500mg', NULL, NULL, N'100', N'2', N'200', 0, NULL)
INSERT [dbo].[tblTransPo] ([TransPo], [Poid], [Productid], [LicenseNo], [Productname], [Dosageform], [Strength], [Packtype], [Packsize], [PoQty], [Priceperpack], [Productamt], [IsGoodReceived], [VAT]) VALUES (2, 2, N'6', N'', N'PARACETAMOL 500mg  CAPS 100s', N'Caplet', N'500mg', NULL, NULL, N'20', N'10', N'200', 1, NULL)
INSERT [dbo].[tblTransPo] ([TransPo], [Poid], [Productid], [LicenseNo], [Productname], [Dosageform], [Strength], [Packtype], [Packsize], [PoQty], [Priceperpack], [Productamt], [IsGoodReceived], [VAT]) VALUES (3, 2, N'7', N'', N'PARACETAMOL 500MG EFF 100S', N'Tablet', N'500mg', NULL, NULL, N'30', N'10', N'300', 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[tblTransPo] OFF
SET IDENTITY_INSERT [dbo].[tblTranspotMaster] ON 

INSERT [dbo].[tblTranspotMaster] ([id], [transpot], [DOJ], [ExpiryDate], [ContactNum], [Address]) VALUES (2, N'Professional', CAST(0x19450B00 AS Date), CAST(0xBD450B00 AS Date), N'9895969392', N'Tamilnadu')
INSERT [dbo].[tblTranspotMaster] ([id], [transpot], [DOJ], [ExpiryDate], [ContactNum], [Address]) VALUES (3, N'	Fedex Transport', CAST(0xBB450B00 AS Date), CAST(0xDA450B00 AS Date), N'8584868251', N'Kerala')
INSERT [dbo].[tblTranspotMaster] ([id], [transpot], [DOJ], [ExpiryDate], [ContactNum], [Address]) VALUES (13, N'Blue Dart', CAST(0xAC450B00 AS Date), CAST(0xBD450B00 AS Date), N'8956231245', N'UK')
SET IDENTITY_INSERT [dbo].[tblTranspotMaster] OFF
SET IDENTITY_INSERT [dbo].[tblTransReturn] ON 

INSERT [dbo].[tblTransReturn] ([TransReturnid], [Returnid], [Soid], [Productid], [LicenseNo], [Productname], [Dosageform], [Strength], [Packtype], [Packsize], [Customernameaddress], [SoQty], [Priceperpack], [VAT], [Totalamount], [ReturnQty], [ReturnAmount], [IsGoodReceived]) VALUES (1, 2, 30, N'14', N'PL 43870/0003', N'TERAZOSIN 10mg 28s', N'Tablet', N'10mg', N'', N'', NULL, 150, N'300', N'5', N'47250', 100, NULL, 0)
INSERT [dbo].[tblTransReturn] ([TransReturnid], [Returnid], [Soid], [Productid], [LicenseNo], [Productname], [Dosageform], [Strength], [Packtype], [Packsize], [Customernameaddress], [SoQty], [Priceperpack], [VAT], [Totalamount], [ReturnQty], [ReturnAmount], [IsGoodReceived]) VALUES (2, 3, 1064, N'7', N'', N'PARACETAMOL 500MG EFF 100S', N'Tablet', N'500mg', N'', N'', NULL, 500, N'10', N'5', N'5250', 100, NULL, 0)
INSERT [dbo].[tblTransReturn] ([TransReturnid], [Returnid], [Soid], [Productid], [LicenseNo], [Productname], [Dosageform], [Strength], [Packtype], [Packsize], [Customernameaddress], [SoQty], [Priceperpack], [VAT], [Totalamount], [ReturnQty], [ReturnAmount], [IsGoodReceived]) VALUES (3, 3, 1064, N'14', N'', N'TERAZOSIN 10mg 28s', N'Tablet', N'10mg', N'', N'', NULL, 600, N'100', N'5', N'60000', 250, NULL, 1)
SET IDENTITY_INSERT [dbo].[tblTransReturn] OFF
SET IDENTITY_INSERT [dbo].[tblTransSo] ON 

INSERT [dbo].[tblTransSo] ([TransSo], [Soid], [Productid], [LicenseNo], [Productname], [Dosageform], [Strength], [Packtype], [Packsize], [Customernameaddress], [SoQty], [Priceperpack], [VAT], [Totalamount], [IsReturn], [ReturnQty]) VALUES (1, 1, N'6', N'PL 43870/0009', N'PARACETAMOL 500mg  CAPS 100s', N'Caplet', N'500mg', N'', N'', NULL, 10, N'10', N'5', N'105', NULL, NULL)
INSERT [dbo].[tblTransSo] ([TransSo], [Soid], [Productid], [LicenseNo], [Productname], [Dosageform], [Strength], [Packtype], [Packsize], [Customernameaddress], [SoQty], [Priceperpack], [VAT], [Totalamount], [IsReturn], [ReturnQty]) VALUES (2, 2, N'6', N'PL 43870/0009', N'PARACETAMOL 500mg  CAPS 100s', N'Caplet', N'500mg', N'', N'', NULL, 5, N'10', N'5', N'52', NULL, NULL)
INSERT [dbo].[tblTransSo] ([TransSo], [Soid], [Productid], [LicenseNo], [Productname], [Dosageform], [Strength], [Packtype], [Packsize], [Customernameaddress], [SoQty], [Priceperpack], [VAT], [Totalamount], [IsReturn], [ReturnQty]) VALUES (3, 3, N'7', N'PL 43870/0012', N'PARACETAMOL 500MG EFF 100S', N'Tablet', N'500mg', N'', N'', NULL, 20, N'10', N'5', N'210', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[tblTransSo] OFF
SET IDENTITY_INSERT [dbo].[tblTransSupplier] ON 

INSERT [dbo].[tblTransSupplier] ([TransSupplierID], [SupplierID], [PersonName], [Address], [Country], [Postcode], [Phone], [CountryCode], [EmailId]) VALUES (80, 1, N'RAJA', N'ADDRESS', N'1', N'23432GG', N'324324234', N'+44', N'RAJA@GMAIL.COM')
INSERT [dbo].[tblTransSupplier] ([TransSupplierID], [SupplierID], [PersonName], [Address], [Country], [Postcode], [Phone], [CountryCode], [EmailId]) VALUES (81, 1, N'MANI', N'ADRRESS', N'1', N'324FGF', N'3434324', N'+44', N'MANI@GMAIL.COM')
INSERT [dbo].[tblTransSupplier] ([TransSupplierID], [SupplierID], [PersonName], [Address], [Country], [Postcode], [Phone], [CountryCode], [EmailId]) VALUES (79, 2, N'RAJ', N'INDIA', N'4', N'625142', N'6549877855', N'+1', N'RAJ@GMAIL.COM')
SET IDENTITY_INSERT [dbo].[tblTransSupplier] OFF
SET IDENTITY_INSERT [dbo].[tblUnit] ON 

INSERT [dbo].[tblUnit] ([UnitId], [Unitname], [Floor], [Isempty], [TransGRId], [ProductId], [Batchnumber], [Expirydate], [TotalQty], [Status], [Palletsrefno], [Returnid]) VALUES (1, N'A001', 1, 0, 1, 9, N'Ran100', CAST(0xCA450B00 AS Date), 30, N'Quarantine', N'0', NULL)
INSERT [dbo].[tblUnit] ([UnitId], [Unitname], [Floor], [Isempty], [TransGRId], [ProductId], [Batchnumber], [Expirydate], [TotalQty], [Status], [Palletsrefno], [Returnid]) VALUES (2, N'A002', 1, 0, 1, 9, N'Ran100', CAST(0xCA450B00 AS Date), 30, N'Quarantine', N'0', NULL)
INSERT [dbo].[tblUnit] ([UnitId], [Unitname], [Floor], [Isempty], [TransGRId], [ProductId], [Batchnumber], [Expirydate], [TotalQty], [Status], [Palletsrefno], [Returnid]) VALUES (3, N'A003', 1, 0, 2, 9, N'RAN101', CAST(0xA7450B00 AS Date), 20, N'Quarantine', N'0', NULL)
GO
SET IDENTITY_INSERT [dbo].[tblUnit] OFF
SET IDENTITY_INSERT [dbo].[tblWarehouse] ON 

INSERT [dbo].[tblWarehouse] ([WarehouseID], [WarehouseName], [WarehouseCode], [FloorNo], [UnitName], [NumberofUnity], [Selectapproval]) VALUES (5, N'Medley', N'ME112', 1, N'A003', N'', N'Select')
INSERT [dbo].[tblWarehouse] ([WarehouseID], [WarehouseName], [WarehouseCode], [FloorNo], [UnitName], [NumberofUnity], [Selectapproval]) VALUES (6, N'Rosan', N'RO221', 2, N'B108', N'', N'Select')
INSERT [dbo].[tblWarehouse] ([WarehouseID], [WarehouseName], [WarehouseCode], [FloorNo], [UnitName], [NumberofUnity], [Selectapproval]) VALUES (7, N'Vlocal', N'VL331', 3, N'B210', N'', N'Manager')
SET IDENTITY_INSERT [dbo].[tblWarehouse] OFF
SET IDENTITY_INSERT [dbo].[TempSo] ON 

INSERT [dbo].[TempSo] ([Soid], [Productid], [Licenseno], [Productname], [Dosageform], [Strength], [Packtype], [Packsize], [Customernameaddress], [SoQty], [Priceperpack], [VAT], [Totalamount]) VALUES (2, 18, NULL, N'PARACETAMOL 500MG EFF 24S GSL', N'Tablet', N'500mg', NULL, NULL, NULL, N'100', N'100', N'200', N'30000')
SET IDENTITY_INSERT [dbo].[TempSo] OFF
